{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/signup_style.css' %}">
    <style>
        .password-container {
            position: relative;
            display: column;
            align-items: center;
        }
        .password-container input[type="password"] {
            padding-right: 40px; 
        }
        .password-container .toggle-password {
            position: absolute;
            right: 10px;
            padding: 8px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Login</h1>
        <form method="POST" action="">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_username">Username</label>
                <input type="text" name="username" id="id_username">
            </div>
            <div class="form-group password-container">
                <label for="id_password">Password</label>
                <input type="password" name="password" id="id_password">
                <span class="toggle-password" onclick="togglePassword()">👁️</span>
            </div>
            <button type="submit" class="btn">Login</button>
        </form>
        {% for message in messages %}
            <p class="message">{{ message }}</p>
        {% endfor %}
        <p class="signup-link">Do not have an account? <a href="{% url 'signup' %}">SignUp Here</a>.</p>
    </div>
    <script>
        function togglePassword() {
            var passwordInput = document.getElementById('id_password');
            var toggleIcon = document.querySelector('.toggle-password');
            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                toggleIcon.textContent = '🙈';
            } else {
                passwordInput.type = 'password';
                toggleIcon.textContent = '👁️';
            }
        }
    </script>
</body>
</html>
