.node-input {
    position: absolute;
    width: 200px; 
    border: 2px solid rgb(220, 234, 245);
    border-radius: 10px;
    background-color: rgb(7, 45, 73);
    padding: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.node-input button {
    border: none;
    border-radius: 5px;
    background-color: #142d47;
    color: white;
    cursor: pointer;
    font-size: 15px;
    margin-right: 60%; 
}

.node-input button:last-child {
    margin-right: 0;
}

.node-input button:hover {
    background-color: #0056b3;
}

.node-input input[type="text"] {
    width: 100px;
    margin: 5px 0;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.node-input .preview {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
    margin-top: 10px;
    display: none;
}

.node-input .file-input {
    display: none;
}

.red-dot {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: rgb(133, 28, 175);
    border-radius: 50%;
    cursor: pointer;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.canvas-container {
    position: relative;
    width: 100%;
    height: 100%;
}

canvas {
    border: 1px solid #ddd;
    width: 100%;
    height: 100vh;
    background-color: #f9f9f9; 
}

.toolbar {
    width: 300px; 
    position: fixed;
    right: 0;
    top: 0;
    background-color: #ffffff;
    border-left: 1px solid #ddd;
    box-shadow: -4px 0 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    height: 100vh; 
    overflow-y: auto; 
    display: flex;
    flex-direction: column;
}

.toolbar label {
    display: block;
    font-weight: bold;
    margin: 10px 0 5px;
}

.toolbar input[type="color"],
.toolbar input[type="number"],
.toolbar input[type="range"],
.toolbar select {
    width: 100%;
    margin-bottom: 15px;
}

.toolbar input[type="color"] {
    border: none;
    padding: 5px;
    cursor: pointer;
}

.toolbar select,
.toolbar input[type="number"],
.toolbar input[type="range"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.toolbar input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #eee;
    height: 5px;
    border-radius: 5px;
    outline: none;
    margin-bottom: 10px;
}

.toolbar input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #102a45;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    cursor: pointer;
}

.toolbar input[type="range"]::-moz-range-thumb {
    background: #007bff;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    cursor: pointer;
}

.toolbar .font-style-select,
.toolbar .line-style-select {
    margin-bottom: 20px;
}

.toolbar h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #333;
} 
.zoom-scroller {
    display: flex;
    justify-content: center;
    align-items: center;
}

.zoom-button {
    width: 30px;
    height: 30px;
    font-size: 18px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
}

.save-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.save-button:hover {
    background-color: #0056b3;
}






